<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ghostscriptPrinterDrivers" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="printerConfiguration" type="TSVCEO.CloudPrint.PrinterConfigurationSection, TSVCEO.CloudPrint" />
  </configSections>
  <system.net>
    <mailSettings>
      <smtp from="email@address.com" deliveryMethod="Network">
        <network host="mail.server.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="OAuthClientID" value="36314495236.apps.googleusercontent.com" />
    <add key="OAuthClientSecret" value="0fc3UnhQKfmDE0AP2S8fe-eW" />
    <add key="OAuthRedirectURI" value="oob" />
    
    <add key="CloudPrintOAuthScope" value="https://www.googleapis.com/auth/cloudprint" />
    <add key="CloudPrintBaseURL" value="https://www.google.com/cloudprint" />
    <add key="CloudPrintUserAgent" value="TSVCEO.CloudPrint/1.0" />
    <add key="CloudPrintProxyName" value="TSVCEO.CloudPrint" />
    <add key="CloudPrintAcceptDomains" value="gmail.com" />

    <add key="WebProxyHost" value="proxy.example.com"/>
    <add key="WebProxyPort" value="3128"/>
    
    <add key="XMPPResourceName" value="TSVCEO.CloudPrint" />
    <add key="XMPPHost" value="talk.google.com" />
    <add key="XMPPPort" value="5222" />
    <add key="XMPPUseProxy" value="no" />
    
    <add key="UserAuthHttpPort" value="12387" />

    <add key="CredentialDatabaseFilename" value="credentials.sqlite" />
    <add key="SessionDatabaseFilename" value="sessions.sqlite" />
    <add key="AuditronDatabaseFilename" value="auditron.sqlite" />

    <add key="VolatileConfigFilename" value="settings.xml" />

    <add key="PrintQueuePollingInterval" value="1800"/>
    <add key="PrintJobPollingInterval" value="60"/>

    <add key="AuthRegistrationURL" value="https://tsvceo-cloudprint-authreg.appspot.com/register"/>
  </appSettings>
  <ghostscriptPrinterDrivers>
    <add key="TestPrint" value="pswrite" />
  </ghostscriptPrinterDrivers>
  <printerConfiguration defaultJobPrinter="PopplerGDIPrinter">
    <printers>
      <printer name="TestPrint" jobPrinter="PopplerGDIPrinter" />
    </printers>
  </printerConfiguration>
</configuration>
